.mt10 {margin-top: 10px !important;}
.mt5 {margin-top: 5px !important;}
.mb10 {margin-bottom: 10px!important;}
.mb5 {margin-bottom: 5px!important;}
.ml10 {margin-left: 10px!important;}
.ml5 {margin-left: 5px!important;}
.mr10 {margin-right: 10px!important;}
ul li {list-style: none;}
a {text-decoration: none; color: #000;}
.fx-bg {background: #F0F0F0;}
.am-navbar-default .am-navbar-nav {
  background-color: #fff;
}
/*.am-navbar-default .am-navbar-nav {
  background-color: #4caf50;
}*/
.fx-color {color: #f76d02;}
.fx-border-bottom {border-bottom: 1px solid #777777;padding-bottom: 5px;}
/*商城首页*/
.fx-home-navbar {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}
.fx-home-navbar a li{
	width: 25%;
	float: left;
	margin: 20px 0;
}
.fx-home-navbar-icon {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	background: #4caf50;
	color: #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.fx-home-navbar a li p{
	margin: 0;
}
.am-btn, button, input:not([type=radio]):not([type=checkbox]), select {
  vertical-align: baseline; 
}
/*商城首页-产品推荐*/
.fx-home-tuiguang-top {
	margin-top: 30px;
}
.fx-home-tuiguang-top div {
	width: 100px;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	padding: 2px;
	background: #F0F0F0;
	text-align: center;
}
.fx-home-tuiguang-ul {
	width: 100%;
	margin: 0;
	padding: 0px 0;
}
.fx-home-tuiguang-ul a li{
	width: 44%;
	/*height: 300px;*/
	overflow: hidden;
	float: left;
	margin: 20px 3%;
	padding-bottom: 10px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	background: #fff;
}
.fx-home-tuiguang-ul a li img{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.fx-home-title {
	font-size: 12px;
	height: 40px;
	font-weight: 600;
	overflow: hidden;
}
.fx-home-price {
	font-size: 12px;
	display: inline;
}
.fx-home-price span {
	font-size: 16px;
	color: red;
}
.fx-home-adr {
	color: #3C3C3C !important;
	font-size: 12px !important;
	margin-right: 10px;
}
.fx-sm {
	font-size: 12px !important;
}

.fx-home-tuiguang-nar {
	background: #4caf50;
	height: 40px;
}
.fx-home-tuiguang-nar-title {
	color: #fff;
	border-left: 2px solid #fff;
	padding-left: 10px;
	margin-left: 10px;
	line-height: 40px;
	height: 40px;
}
.fx-home-nav {
	position: fixed;
	right: 10px;
	bottom: 130px;
	color: #fff;
	background:#4caf50 ;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 999999;
}
.fx-home-nav-li {
	width: 33% !important;
}
.fx-bottom {
	color: #1A1A1A !important;
}
.fx-bottom-on {
	color: #4caf50 !important;
}
/*代理专区*/
.p0 {padding: 0;}
.am-thumbnail {
	background: none;	
}
.fx-img {
	max-width: 640px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}
.fx-img img {
	width: 100%;
	height: 100%;
}
.fx-price span {
	color: #f76d02;
}
.fx-main-title {
	padding-bottom: 5px;
	border-bottom: 2px solid #0e90d2;
}
.fx-buy-btn {
	background: #f76d02;
	border-color:  #f76d02;
	padding: 3px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.fx-buy-btn:hover {
	background: #D75E00;
	border-color:  #D75E00;
}
.fx-buy-btn:active {
	background: #D75E00;
	border-color:  #D75E00;
}
/*私信列表页*/
.fx-sx-top, .fx-production-top{
	background: #4caf50;
	height: 40px;
	border-bottom: 1px solid #D0D0D0;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.fx-sx-top a {color: #fff; float: left;}
.fx-production-top a {color: #fff;}
.fx-sx-list {
	padding: 10px 10px;
}
.fx-sx-list a {
	color: #000000;
}
.fx-sx-list a li{
	height: 100px;
}
.fx-sx-list-logo{
	width: 80px;
	height: 80px;
	margin-top: 10px;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.fx-sx-list-main {
	margin-left: 100px;
	padding-top: 10px;
	height: 100px;
	border-bottom: 1px solid #BABABA;
}
.fx-sx-list-main h4 span {
	font-weight: normal;
	font-size: 14px;
}
/*私信详情页面*/
.fx-sx {
	padding: 0 10px;
}
.fx-sx-time {
	text-align: center;
	margin-top: 30px;
}
.fx-sx-time span {
	color: #fff;
	background: #777777;
	padding: 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.fx-comment-main-user {
	width: 70%;
}
/*商品详情页面*/
.fx-main {
	padding: 5px 10px;
	background: #fff;
	position: relative;
}
.fx-main img {
	width: 100%;
}
.fx-fanli {
	color: #333333;
}
.fx-adr {
	margin-right: 10px;
}
.fx-fl span {
	color: #f76d02;
	margin-left: 5px;
}
.fx-renzheng {color: #4caf50;margin-left: 10px;}
.fx-more {
	/*position: fixed;*/
	right: 10%;
	top: 50%;
	bottom: 50%;
}
.am-modal-dialog, .am-modal:before {
   display: inline-block; 
  vertical-align: middle;
}
.am-modal-dialog{
	margin-top: 50px;
}
.fx-more-list {
	padding: 10px;
	font-size: 14px;
}
.fx-more-list li {
	float: left;
	height: 80px;
	margin-right: 10px;
}
.fx-more-list p {
	margin: 0;
}
.fx-production span {
	background: #fff;
	border: 1px solid #3C3C3C;
	padding: 5px 10px;
	border-radius: 3px;
}
.fx-production-selected span {
	background: #f76d02;
	border: 1px solid #f76d02;
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
}
/*会员中心*/
/*会员中心-会员信息-top*/
.fx-user-top {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.fx-user {
	margin-left: 120px;
	color: #fff;
}
.fx-user ul{
	padding-left: 10px;
}
/*会员中心-会员信息-侧边栏*/
.fx-user-l-top {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.fx-user-bg {
	background: #4caf50;
}
.fx-user-txt {
	color: #fff;
}
.fx-user-txt li {
	margin-top: 10px;
}
/*分销中心*/
.fx-user-fenxiao {
	padding: 10px;
	text-align: center;
	width: 100%;
	background: #fff;
}
.fx-user-fenxiao li{
	float: left;
	width: 33.3%;
	height: 90px;
	padding-top: 15px;
}
.fx-user-fenxiao li span {
	
}
.fx-user-fenxiao li p{
	margin: 5px auto;
}
.fx-user-fenxiao-red {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.fx-user-fenxiao-list {
	margin: 10px auto;
}
/*分销中心-红包提取*/
.fx-border-none {
	border: none;
}
/*分销中心-盟友列表*/
.fx-mengyou h4 {
	margin-bottom: 5px;
}
.fx-mengyou p {
	margin: 0;
}
.fx-mengyou-arrow {
	font-size: 50px;
	line-height: 90px;
}
.fx-mengyou-ul {
	padding: 0;
}
.fx-mengyou-li {
	background: #fff;
	padding: 0 10px;
}
/*分销中心-盟友-订单*/
.fx-main-table {
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
}
.fx-main-table tr{
	padding-top: 10px;
}
.fx-main-table th{
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #4AAA4A;
}
.fx-main-table td{
	padding: 10px 0;
	border-bottom: 1px solid #E8E8E8;
}
/*用户中心*/
.fx-user-icon {
	width: 30px;
	height: 30px;
	background: #4caf50;
	line-height: 30px;
	color: #fff;
	text-align: center;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
/*用户中心-我的店铺*/
