.mt10 {margin-top: 10px !important;}
.mt5 {margin-top: 5px !important;}
.mb10 {margin-bottom: 10px!important;}
.mb5 {margin-bottom: 5px!important;}
.ml10 {margin-left: 10px!important;}
.ml5 {margin-left: 5px!important;}
.mr10 {margin-right: 10px!important;}
ul li {list-style: none;}
a {text-decoration: none; color: #000;}
.fx-bg {background: #F0F0F0;}
.am-navbar-default .am-navbar-nav {
  background-color: #fff;
}
.am-header {height: 40px;}
/*.am-navbar-default .am-navbar-nav {
  background-color: #4caf50;
}*/
.fx-color {color: #f76d02;}
.fx-border-bottom {border-bottom: 1px solid #777777;padding-bottom: 5px;}
/*商城首页*/
.fx-home-navbar {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}
.fx-home-navbar a li{
	width: 25%;
	float: left;
	margin: 20px 0;
}
.fx-home-navbar-icon {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	background: #4caf50;
	color: #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.fx-home-navbar a li p{
	margin: 0;
}
.am-btn, button, input:not([type=radio]):not([type=checkbox]), select {
  vertical-align: baseline; 
}
/*商城首页-产品推荐*/
.fx-home-tuiguang-top {
	margin-top: 30px;
}
.fx-home-tuiguang-top div {
	width: 100px;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	padding: 2px;
	background: #F0F0F0;
	text-align: center;
}
.fx-home-tuiguang-ul {
	width: 100%;
	margin: 0;
	padding: 0px 0;
}
.fx-home-tuiguang-ul a li{
	width: 44%;
	/*height: 300px;*/
	overflow: hidden;
	float: left;
	margin: 20px 3%;
	padding-bottom: 10px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	background: #fff;
}
.fx-home-tuiguang-ul a li img{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.fx-home-title {
	font-size: 12px;
	height: 40px;
	font-weight: 600;
	overflow: hidden;
}
.fx-home-price {
	font-size: 12px;
	display: inline;
}
.fx-home-price span {
	font-size: 16px;
	color: red;
}
.fx-home-adr {
	color: #3C3C3C !important;
	font-size: 12px !important;
	margin-right: 10px;
}
.fx-sm {
	font-size: 12px !important;
}

.fx-home-tuiguang-nar {
	background: #4caf50;
	height: 40px;
}
.fx-home-tuiguang-nar-title {
	color: #fff;
	border-left: 2px solid #fff;
	padding-left: 10px;
	margin-left: 10px;
	line-height: 40px;
	height: 40px;
}
.fx-home-nav {
	position: fixed;
	right: 10px;
	bottom: 130px;
	color: #fff;
	background:#4caf50 ;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 999999;
}
.fx-home-nav-li {
	width: 33% !important;
}
.fx-bottom {
	color: #1A1A1A !important;
}
.fx-bottom-on {
	color: #4caf50 !important;
}
/*代理专区*/
.p0 {padding: 0;}
.am-thumbnail {
	background: none;	
}
.fx-img {
	max-width: 640px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}
.fx-img img {
	width: 100%;
	height: 100%;
}
.fx-price span {
	color: #f76d02;
}
.fx-main-title {
	padding-bottom: 5px;
	border-bottom: 2px solid #0e90d2;
}
.fx-buy-btn {
	background: #f76d02;
	border-color:  #f76d02;
	padding: 3px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.fx-buy-btn:hover {
	background: #D75E00;
	border-color:  #D75E00;
}
.fx-buy-btn:active {
	background: #D75E00;
	border-color:  #D75E00;
}
/*私信列表页*/
.fx-sx-top, .fx-production-top{
	background: #4caf50;
	height: 40px;
	border-bottom: 1px solid #D0D0D0;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.fx-sx-top a {color: #fff; float: left;}
.fx-production-top a {color: #fff;}
.fx-sx-list {
	padding: 10px 10px;
}
.fx-sx-list a {
	color: #000000;
}
.fx-sx-list a li{
	height: 100px;
}
.fx-sx-list-logo{
	width: 80px;
	height: 80px;
	margin-top: 10px;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.fx-sx-list-main {
	margin-left: 100px;
	padding-top: 10px;
	height: 100px;
	border-bottom: 1px solid #BABABA;
}
.fx-sx-list-main h4 span {
	font-weight: normal;
	font-size: 14px;
}
/*私信详情页面*/
.fx-sx {
	padding: 0 10px;
}
.fx-sx-time {
	text-align: center;
	margin-top: 30px;
}
.fx-sx-time span {
	color: #fff;
	background: #777777;
	padding: 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.fx-comment-main-user {
	width: 70%;
}
/*商品详情页面*/
.fx-main {
	padding: 5px 10px;
	background: #fff;
	position: relative;
}
.fx-main img {
	width: 100%;
}
.fx-fanli {
	color: #333333;
}
.fx-adr {
	margin-right: 10px;
}
.fx-fl span {
	color: #f76d02;
	margin-left: 5px;
}
.fx-renzheng {color: #4caf50;margin-left: 10px;}
.fx-more {
	/*position: fixed;*/
	right: 10%;
	top: 50%;
	bottom: 50%;
}
.am-modal-dialog, .am-modal:before {
   display: inline-block; 
  vertical-align: middle;
}
.am-modal-dialog{
	margin-top: 50px;
}
.fx-more-list {
	padding: 10px;
	font-size: 14px;
}
.fx-more-list li {
	float: left;
	height: 80px;
	margin-right: 10px;
}
.fx-more-list p {
	margin: 0;
}
.fx-production span {
	background: #fff;
	border: 1px solid #3C3C3C;
	padding: 5px 10px;
	border-radius: 3px;
}
.fx-production-selected span {
	background: #f76d02;
	border: 1px solid #f76d02;
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
}
/*会员中心*/
/*会员中心-会员信息-top*/
.fx-user-top {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.fx-user {
	margin-left: 120px;
	color: #fff;
}
.fx-user ul{
	padding-left: 10px;
}
/*会员中心-会员信息-侧边栏*/
.fx-user-l-top {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.fx-user-bg {
	background: #4caf50;
}
.fx-user-txt {
	color: #fff;
}
.fx-user-txt li {
	margin-top: 10px;
}
/*分销中心*/
.fx-user-fenxiao {
	padding: 10px;
	text-align: center;
	width: 100%;
	background: #fff;
}
.fx-user-fenxiao li{
	float: left;
	width: 33.3%;
	height: 90px;
	padding-top: 15px;
}
.fx-user-fenxiao li span {
	
}
.fx-user-fenxiao li p{
	margin: 5px auto;
}
.fx-user-fenxiao-red {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.fx-user-fenxiao-list {
	margin: 10px auto;
}
/*分销中心-红包提取*/
.fx-border-none {
	border: none;
}
/*分销中心-盟友列表*/
.fx-mengyou h4 {
	margin-bottom: 5px;
}
.fx-mengyou p {
	margin: 0;
}
.fx-mengyou-arrow {
	font-size: 50px;
	line-height: 90px;
}
.fx-mengyou-ul {
	padding: 0;
}
.fx-mengyou-li {
	background: #fff;
	padding: 0 10px;
}
/*分销中心-盟友-订单*/
.fx-main-table {
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
}
.fx-main-table tr{
	padding-top: 10px;
}
.fx-main-table th{
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #4AAA4A;
}
.fx-main-table td{
	padding: 10px 0;
	border-bottom: 1px solid #E8E8E8;
}
/*用户中心*/
.fx-user-icon {
	width: 30px;
	height: 30px;
	background: #4caf50;
	line-height: 30px;
	color: #fff;
	text-align: center;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
/*用户中心-我的店铺*/
.td1 {width: 40px;}
.td2 {padding-left: 5px;width: 40px;}
.td3 {max-width: 50px;}
.addel {
	font-size: 14px;
}
/*会员中心*/
.fx-btn-center {
	margin: 0 auto !important;
	display: block;
}
.fx-shop-list {
	padding: 0;
}
.fx-shop-list li{
	height: 120px;
	border-bottom: 1px solid #BABABA;
}
.fx-shop-list-logo {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.fx-shop-list-logo img {
	width: 100%;
}
.fx-shop-list-txt {
	/*padding-top: 10px;*/
	margin-left: 110px;
}
.fx-shop-list-txt p,h6 {
	margin: 5px 0;
}
.fx-shop-list-txt h6 {
	height: 30px;
	overflow: hidden;
}
.fx-shop-list-price {
	font-size: 14px;
	color: #474747;
}
/*会员中心-我的订单-商品列表*/
.fx-order-num {
	padding-bottom: 5px;
	border-bottom: 1px solid #BABABA;
	font-size: 16px;
}
.fx-order-num p{
	margin: 0;
}
.fx-order-num p span {
	float: right;
	margin-right: 10px;
	font-size: 12px;
	line-height: 30px;
	color: #3C3C3C;
}
.fx-order-list {
	background: #F2F2F2;
}
.fx-order-list-price {
	font-size: 14px;
	float: right;
}


/*会员中心-我的订单-商品详情*/
.fx-order-adr p{
	margin: 10px 0;
}
.fx-order-adr2 {
	line-height: 50px;
	width: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: -10px;
}
.fx-order-adr3 {
	padding-left:50px;
}

/*会员中心-我的订单*/
.fx-order {
	padding: 20px 0;
	text-align: center;
	background: #fff;
}
.fx-myorder {
	font-size: 30px;
	color: #262626;
}
.fx-order li {
  	float: left;
  	width: 33.3%;
  	height: 90px;
}
.kl {
	position: relative;
	top: -20px;
	left: -5px;
}

.fx-pj {
	font-size: 14px;
	color: #000000;
	margin-left: 20px;
}
.fx-pl {
	background: #F0F0F0;
}
.fx-fbpj {
	font-size: 14px !important;
}

/*tq-css*/
.overh {
    overflow:hidden;
}
.am-top-black {
	width:100%;
	height:45px;
	color:#fff;
	font-size:20px;
	text-align:center;
	line-height:45px;
	background-color:#000
}
.am-header .am-header-title {tq-product-list
	margin: 0 15%;
    font-size:18px;
}

.tq-search {
	width:100%;
	border-radius:4px 4px 4px 4px;
	background-color:#fff;
	overflow:hidden;
	height:30px;
	margin-top:5px;/*gsh修改*/
    text-align:left;
}
.tq-text-search {
	border:none;
	background-color:#fff;
	height:30px;
	padding:0px;
	float:left;
	width:100%;
    color:#000;
    font-size:14px;
    line-height:14px;
    padding:0px 35px 0px 5px;
}
.tq-btn-search {
	float:left;
	background-color:#fff;
	border:none;
	border-radius:4px 4px 4px 4px;
	color:#f75a53;
	position:absolute;
	margin-left:-30px;
	width:30px;
	padding:0px;
	height:28px;
    margin-top:1px;
}
.tq-flag {
    position:absolute;
	 margin:0px;  padding:0px;
   line-height:20px;
}
    .tq-flag span {background-color:#4caf50;
    font-size:12px;
    padding:2px 5px;
    margin:3px;
    display:inline-block
    }
        .tq-flag span i {
            margin-left:5px;
        }
.del-flag { display:inline-block;
    width:20px;
}
.footer {
	line-height:30px;
	height:30px;
	color:#b0b0b0;
	font-size:12px;
	background-color:#fff;
	text-align:center;
	margin:10px 0px;
}
/*分类tab*/
	.tq-tabs {
	width:100%;
	overflow:hidden;
}
.tq-tabs-ul {
	background-color:#fff;
	width:26%;
	float:left;
	display:block;
	padding:0px;
	margin:0px;
}
.tq-tabs ul li {
	height:55px;
	line-height:55px;
	text-align:center;
	font-size:16px;
	width:100%;
	background-color:#fff;
	border-left:solid 3px #fff;
	color:#000;
	padding:0px;
	margin:0px;
	border-bottom:solid 1px #f0f0f0;
	cursor:pointer;
}
.tq-tabs ul li.tq-tabs-active {
	background-color:#ececec;
	border-left:solid 3px #fe6a0a;
	color:#fe6a0a
}
.tq-tabs-content {
	width:74%;
	float:left;
	display:block;
	padding:0px;
	margin:0px;
}
.tq-tab-panel {
	margin:0px 10px 0px 10px;
	display:none;
}
.tq-tab-panel:first-child {
	display:block;
}
.tq-tab-panel h4 {
	color:#a3a3a3;
	font-size:16px;
	line-height:30px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	margin-top:10px;
}
.tq-tab-panel h5 {
	color:#707070;
	font-size:16px;
	line-height:30px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	text-align:center;
}
.tq-fenlei {
	width:100%;
	overflow:hidden;
}
.tq-fenlei a {
	float:left;
	display:block;
	width:32%;
	margin-right:2%;
	border-radius:2px;
	background-color:#fff;
	margin-bottom:2%;
}
.tq-fenlei a:nth-child(3n) {
	margin-right:0%;
}
.tq-fenlei a img {
	width:90%;
	margin:5%;
}
/*购物车*/
	.tq-car {
	margin-top:5px;
}
.tq-car-list {
	line-height:normal;
	background-color:#fff;
	margin:5px 0px;
	padding:5px 0px;
}
.tq-car-list-img {
	width:100%;
}
.tq-car-list .tq-car-info {
	min-height:80px;
}
.tq-car-list h3 {
	margin:0px;
	padding:0px;
	color:#000;
	font-size:14px;
	font-weight:normal;
}
.tq-car-list h4 {
	margin:0px;
	padding:0px;
	color:#a5a5a5;
	font-size:12px;
	font-weight:normal;
}
.tq-car-list h5 {
	margin:0px;
	padding:0px;
	color:#000;
	font-size:13px;
	font-weight:normal;
	margin:5px 0px;
}
.jian,.jia ,.zhi {
	display:inline-block;
	width:20px;
	height:20px;
	border:solid 1px #4caf50;
	vertical-align:bottom;
	margin-right:2px;
	text-align:center;
	cursor:pointer;
	color:#4caf50;
	margin-top:4px;
}
.zhi {
	width:40px;
}
.hui {
	border:solid 1px #ccc;
	color:#ccc;
}
.am-header-default {
    background-color:#4caf50
}
.tq-car-list .price {
	color:#f76d02;
	float:right;
	font-size:20px;
	margin-right:10px;
}
.tq-car-checkbox {
	margin-left:10px;
	margin-top:50px;
	color:#f76d02;
}
.tq-car-jiesuan {
	background-color:#fff;
	padding:10px 0px;
}
.tq-car-jiesuan h3 {
	margin:0px;
	padding:0px;
	color:#f76d02;
	font-size:16px;
	font-weight:normal;
}
.tq-car-jiesuan h4 {
	margin:0px;
	padding:0px;
	color:#a5a5a5;
	font-size:12px;
	font-weight:normal;
}
.tq-car-jiesuan .tq-car-checkbox-jiesuan {
	margin-left:10px;
	margin-top:5px;
	color:#f76d02;
}
.tq-btn-jiesuan {
	float:right;
	margin-right:10px;
	margin-top:5px;
}
/************************填写订单页面*/
	.margin10 {
	margin:10px;
}
.margin15 {
	margin:15px;
}
.xinfeng {
	background-image:url(../img/xinfeng.png);
	background-size:100% 100%;
	width:100%;
	overflow:hidden;
	margin-top:10px;
}
.xinfeng h2, .xinfeng h3, .xinfeng h4, .xinfeng h5 {
	margin:0px;
	padding:0px;
	font-weight:normal;
}
.xinfeng h2 {
	color:#000;
	font-size:20px;
	margin:10px 0px;
}
.xinfeng h2 i {
	color:#4caf50;
}
.xinfeng h3 {
	color:#f76d02;
	font-size:12px;
	margin:10px 0px;
}
.xinfeng h4 {
	color:#000;
	font-size:16px;
	line-height:40px;
	border-bottom:solid 1px #000;
}
.xinfeng h5 textarea {
	border:solid 1px #ccc;
	width:100%;
	font-size:12px;
	height:60px;
	border-radius:5px;
	margin:10px 0px;
}
.tq-peisong {
	background-color:#fff;
	margin-top:10px;
}
.tq-peisong h4 {
	margin:0px;
	padding:0px;
	font-weight:normal;
	color:#000;
	font-size:14px;
	line-height:40px;
	border-bottom:solid 1px #ccc;
	padding:0px 10px;
}
.tq-peisong h4:last-child {
	border:none;
}
.tq-peisong h4 span {
	float:right;
}
.tq-peisong h4 span.tq-peisong-kuaidi {
	color:#333;
	font-size:12px;
}
.tq-zongdingdan h4 {
	margin:0px;
	padding:0px;
	font-weight:normal;
	color:#000;
	font-size:18px;
	height:50px;
	line-height:50px;
	padding:0px 10px;
	background-color:#fff;
}
.tq-btn-zongdingdan {
	float:right;
	margin-top:5px;
}
/*排序*/
.tq-paixu {
    text-align:center;
    border-bottom:solid 1px #666;
}
    .tq-paixu .am-avg-sm-4 li {
        line-height:50px;
    }
     .tq-paixu .am-avg-sm-4 li.active {
       color:#f76d02
    }
.price-paixu span {
    display:inline-block;
    width:9px;
    margin-left:5px;
    vertical-align:middle;
    height:50px;
    background-image:url(../img/price0.png);
    background-position:center  center;
    background-repeat:no-repeat;
}
    .price-paixu.price1 span{
        background-image:url(../img/price1.png)
    }
    .price-paixu.price2 span{
        background-image:url(../img/price2.png)
    }
/*产品列表*/
.tq-product-list { background-color:#fff;
}
.tq-product {
    overflow:hidden;
   
}
.tq-product-img {
    background-color:#f9f9f9;
    margin:10px;
                   
 display: table-cell;
 vertical-align:middle;
 text-align:center;
 *display: block;
 *font-size: 87px;
 *font-family:Arial;  width:100px;
                     height:100px;

}
.tq-product-img img {
  max-width:100%;
  max-height:100%;
   vertical-align:middle;
}
.tq-product h3, .tq-product h4, .tq-product h5,.tq-product h6  {
    margin:0px;
	padding:0px;
	font-weight:normal;  
     margin-right:10px;
}
.tq-product h3 {
        color: #000;
    font-size: 14px;margin-top:10px;
  
}
.tq-product h4 {
       color: #a5a5a5;
    font-size: 12px;
}
.tq-product h5 {
    color: #f76d02;
    font-size: 20px;
}
.tq-product h6 {
   border-bottom:solid 1px #999999;
   margin-left:120px;
}




